.primary-color{background-color: $primary-color}
.secondary-color{background-color: $secondary-color}
.section-title{
    margin-bottom: 70px;
    text-transform: capitalize;
    position: relative;
    color: $title-color;
    font: {
    	size: 30px;
    	weight: 600;
        family:$title-family;
    }
}
.section-para{
    margin: 20px 0;
    color: #888888;
    font-size: 17px;
}
.close{
	cursor: pointer;
	&:focus{
		outline:0;
	}
}
.page-section{
    padding: 80px 0;
}
button:focus{
    outline: 0;
}
.bg{
    background-color: #F3F5F9;
}
.facebook{background-color: $facebook;}
.twitter{background-color: $twitter;}
.whatsapp{background-color: $whatsapp;}
.linkedin{background-color: $linkedin;}
.instagram{background-color: #e4405f;}
.facebook , .twitter , .whatsapp , .linkedin , .instagram{color: white;}
ul.social{
    .list-inline-item{
        margin-bottom: 7px;
        a{
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            padding: 3px 14px;
            border-radius: 50px;
            letter-spacing: 1px;
            display: inline-block;
            margin-right: 5px;
            text-transform: uppercase;
        }
        &:not(:last-child){
            margin-right: 0;
        }
    }
}