.form-control{
	resize: none;
	&:focus{
		    border-color: $secondary-color;
	}
}
.form-comment{
	.form-control{
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0;
        &:focus{
            border:1px solid rgba(0,0,0,.35);
        }
    }
}
.contact{
	padding: 70px 0;
}