.owl-theme .owl-nav{
  margin-top: 0;
}
.slider {
  overflow: hidden;
  .owl-nav div{
    width: 35px;
    height: 35px;
    line-height: 35px;
    left: -80px;
    opacity: 1;
    position: absolute;
    top: 50%;
    padding: 0 !important;
    text-align: center !important;
    overflow: hidden;
    @include prefixer(transform , translateY(-50%) , webkit moz o ms);
    @include transition(all 0.5s ease 0s);
    &.owl-next{
      left: auto;
      right: -80px;
    }
  }
  .owl-item{
    position: relative;
    height: 350px;
    overflow: hidden;
    img{
        height: 100%;
        @include prefixer(transform-origin , 100% 0% , webkit moz o ms);
        @include prefixer(animation , kenburns_zoomInOut 25s linear 0s infinite alternate, webkit moz o ms);
      }
    .overlay{
      @include overlay(black,.5);
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      .slide_inner{
        color: #FFF;
        .slide-header{
            text-transform: capitalize;
            font:{
              size: 32px;
              weight: 400;
            }
        }
        .slide-desc{
            line-height: 1.2;
            text-transform: capitalize;
            margin:10px 10%;
            font:{
              size:14px;
              weight: 400;
            }
        }
      }
    }
  }
}
.slider .owl-item.active .overlay .slide_inner {
  .slide-desc{
    @include prefixer(animation-name , fadeInRight , webkit moz o ms);
    animation:{
      name: fadeInRight;
      delay: .5s;
      duration: 1s;
      fill-mode: both;
    }
  }
  .slide-header{
    @include prefixer(animation , bounceInLeft 0.5s ease-in 400ms both , webkit moz o ms);
  }
  .main-btn{
    @include prefixer(animation , fadeIn 4.5s ease-in 200ms both , webkit moz o ms);
  }
}
.slider:hover .owl-nav div{
  left: 10px;
  background-color: rgba(0,0,0,.1);
  &.owl-next {
    left: auto;
    right: 20px;
  }
}
.slider .owl-theme .owl-nav [class*="owl-"] {
  background: rgba(0,0,0,0.3);
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background-color: rgba($secondary-color,.6);
}
.slider.owl-theme .owl-nav .disabled{
  opacity: 1;
}
.slider.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #89d700 none repeat scroll 0 0;
}

 /* Small devices (tablets, 768px and up) */
@media (min-width: $screen-md-min) { 
  .slider {
    .owl-nav div{
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    .owl-item{
      height: 780px;
      .overlay{
        .slide_inner{
          .slide-header{
              font:{
                size: 56px;
              }
          }
          .slide-desc{
              line-height: 1.2;
              margin:40px 10%;
              font:{
                size:20px;
              }
          }
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-lg-min) { 
  .slider {
    .owl-nav div{
      width: 65px;
      height: 65px;
      line-height: 65px;
    }
    .owl-item{
      height: 560px;
      .overlay{
        .slide_inner{
          .slide-header{
              line-height: 72px;
              font:{
                size: 72px;
              }
          }
          .slide-desc{
              line-height: 1.2;
              margin:50px 10%;
              font:{
                size:22px;
              }
          }
        }
      }
    }
  }
}
.owl-carousel.owl-rtl .owl-item{
  width: 100%;
}
@include keyframes(kenburns_zoomInOut){
  0%{
    @include prefixer( transform , scale(1) , webkit moz o ms);
  }
  100%{
    @include prefixer( transform , scale(1.2) , webkit moz o ms);
  }
}