.team{
	.inner-team{
		.text-team{
			&:after{
				
			  	left: auto;
			  	right: 80px;
			  	transform: skew(-120deg);
			}

		}
		.media{
			img{
				border:5px dotted rgba($primary-color, 0.4);
			}
			.media-body{
				padding: 20px;
				.title-team{
					text-transform: uppercase;
					font-weight: 600;
					font-family: $title-family;
				}
				span{
					display: block;
					text-transform: uppercase;
					font-weight: 600;
					color: $secondary-color;
				}
				.go{
					margin-top: -20px;
				    animation-name: example;
				    animation-duration: 1s;
					i{
						color: $secondary-color;
						font-size: 20px;
					}
				}
			}
		}
	}
}