.testimonials{
	.testimonial-quote{
		border:1px solid #d7d7d7;
		box-shadow: 0 4px 61px rgba(0, 0, 0, 0.09);
	    .testimonial-inner{
		    padding: 20px 25px;
		    .content{
		    	display: flex;
		    	flex-direction: column;
		    	position: relative;
				padding-left: 0px;
				.image{
				    overflow: hidden;
				    text-align: center;
				    img{
				    	margin: auto;
					    width: 154px;
					    height: 154px;
					    border-radius: 255px 15px 225px 15px/45px 225px 45px 255px;
				    	border:5px dotted rgba($primary-color, 0.4);
				    }
				    .testimonial-name{
					    color: $primary-color;
					    margin-top: 20px;
					    text-transform: uppercase;
					    text-shadow: 0.03em 0.03em 0 hsla(230,40%,50%,1);
					    font:{
					    	size: 18px;
					    	weight: 600;
					    	family:$title-family;
					    }
				    }
				}
				.text{
					padding: 30px 20px;
					border-top: 1px solid #cccccc;
					position: relative;
				    color: #777777;
				    line-height: 1.8em;
				    padding-bottom: 10px;
				    margin-top: 30px;
				    min-height: 100px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    font:{
				    	size: 16px;
				    	weight: 300;
				    }
				    i{
				    	position: absolute;
					    left: 0px;
					    top: -28px;
					    font-size: 54px;
					    line-height: 1em;
				    	color: $secondary-color;
				    }
				}
				.author{
		    	    position: relative;
				    top: 0px;
				    color: #222222;
				    font:{
				    	size: 18px;
				    	weight: 500;
				    }
				    text:{
				    	decoration: underline;
				    	transform: capitalize;
				    }
			    }
		    }
	    }
	}
	.owl-theme .owl-nav.disabled+.owl-dots{
		margin-top: 40px;
	}
	.owl-dots{
		.owl-dot{
			position:relative;
			border:1px solid $secondary-color;
			width:20px;
			height:20px;
			z-index:1;
			margin:0px 10px;
			display:inline-block;
			border-radius:50%;
			background-color:#ffffff;
			&:after{
				position:absolute;
				content:'';
				right:2px;
				top:2px;
				left:2px;
				bottom:2px;
				opacity:0;
				border-radius:50%;
				background-color:$secondary-color;
				transition:all 0.3s ease;
				-moz-transition:all 0.3s ease;
				-webkit-transition:all 0.3s ease;
				-ms-transition:all 0.3s ease;
				-o-transition:all 0.3s ease;
			}
		}
	}
	.owl-dots .owl-dot span{background: transparent!important;}
	.owl-dots .owl-dot.active::after,
	.owl-dots .owl-dot:hover::after{
		opacity:1;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	.testimonials{
		.testimonial-quote{
		    .testimonial-inner{
			    padding: 20px 25px;
			    .content{
			    	display: flex;
			    	flex-direction: row;
					.image{
					    overflow: visible;
					}
					.text{
						margin-left: 50px;
						padding: 0px 10px 0 70px;
						border-top: 0px solid #cccccc;
						border-left: 1px solid #cccccc;
					    margin-top: 0px;
					    i{
					    	position: absolute;
						    left: 10px;
						    top: 28px;
					    }
					}
			    }
		    }
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	.testimonials{
		.testimonial-quote{
		    .testimonial-inner{
			    .content{
					.text{
						min-height: 50px;
					    i{
					    	position: absolute;
						    left: 10px;
						    top: 58px;
					    }
					}
			    }
		    }
		}
	}
}

/* extra Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-xl-min) { 
	 
}
